
  #btn {
    transition: transform .3s;
    background-color: rgb(124, 94, 18);
    border-color: black ;
}
#btn:hover {
    transform: scale(1.1);
    background-color: rgb(124, 94, 18);
}


.carousel-control-next, .carousel-control-prev {
    position: inherit;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    width: 15%;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
#carousel1{
    image-resolution: auto;
    max-width: 100%;
    height: auto;
}
#carousel2{
    max-width: 100%;
    height: auto;
}
#carousel3{
    max-width: 100%;
    height: auto;
}

#carr {
    font-size : clamp(1rem, 5vw, 5rem);
}
#carr2{
    font-size : clamp(1rem, 3.5vw, 3rem);
}