
.biotext {
    font-size: 24px;
    align-content: center;
    text-align: left;
    font-family: Cambria;
    padding-right: auto;
    padding-left: auto;
    display: block;
}

#kon1{
    transition: transform .3s;
    border: 2px solid black;
    border-radius: 1%;
    
}
#kon1:hover {
    transform: scale(1.1);
}
#kon2 {
    transition: transform .3s;
    border: 2px solid black;
    border-radius: 1%;  
}
#kon2:hover {
    transform: scale(1.1);
}

.section {
    padding-top: 100px;
}
.title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    font-family: Cambria;
}

#backgroundBio{
    background-image: url(../../../images/canvas.jpg);
    background-size: cover;
}


#t{
    width: auto ;
    min-width: auto;
    max-width: 750px;
}

#bot {
    padding-bottom: 20px;
}