#contact{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-image: url(../../../images/EmailBG.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;  
    
    
  
}

#fmbtn:hover {
    transform: scale(1.3);
    background-color: rgb(124, 94, 18);
}


#fmbtn{
    width: 200px;
    background-color: transparent;
    transition: transform .3s;
    border: 2px solid black;
    
}

.swal2-styled.swal2-confirm {
    transition: transform .3s !important;
    border: 2px solid black !important;
    border-radius: .25em !important;
    background: initial !important;
    background-color:  rgb(124, 94, 18) !important;
    color: black !important;
    font-size: 1.4em !important;
}
.swal2-styled.swal2-confirm:hover {
    transform: scale(1.3) !important;
    background-color: rgb(124, 94, 18) !important;
}

.swal2-title {
    position: relative !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: .8em 1em 0 !important;
    color: black !important;
    font-family: Cambria !important;
    font-size: 1.875em !important;
    font-weight: 600 !important;
    text-align: center !important;
    text-transform: none !important;
    word-wrap: break-word !important;
}

.swal2-html-container {
    z-index: 1 !important;
    justify-content: center !important;
    margin: 0 !important;
    padding: 1em 1.6em .3em !important;
    color: white !important;
    font-size: 0.0001em !important;
}

.swal2-styled.swal2-confirm {
   
    border-radius: .25em !important;
    background: initial !important;
    background-color: rgb(124, 94, 18) !important;
    color: black !important;
    font-size:1.50em !important;
    width: 170px !important;
}