

#cardImg {
    padding-left: 80px;
}
#text {
    padding-left: 80px;
}
#title {
    padding-left: 60px;
}
#body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

#group {
    border-width: .2rem .2rem 0;
border-radius: 8px 8px 0 0;
position: relative;
padding: 1rem;
border: .2rem solid #ececec;
    border-top-width: 0.2rem;
    border-right-width: 0.2rem;
    border-bottom-width: 0.2rem;
    border-left-width: 0.2rem;
border-radius: 8px;
margin-right: 0;
margin-left: 0;
color: #212529;
}