/* #cardImg1 {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    
}
#cardImg2{
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#cardImg3{
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
#container {
    padding-bottom: 30px;
    
}
#cardIMG:hover{

background-color: rgb(124, 94, 18);
  transition-duration: 0.2s;
}
 */
