
.img-wrapper {
    position: relative;
  }
  
  .img-responsive {
    width: 100%;
    height: auto;
  }
  
  .img-overlay {
    position: absolute;
    z-index: 1;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

  }
  
  .img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
  }

  #cmBtn {
    background-color: transparent;
    transition: transform .3s;
    border-color: black ;

  }

  #cmBtn:hover {
    transform: scale(1.1);
    background-color: rgb(124, 94, 18);
}


#deba{
  font-size : clamp(1rem, 5vw, 5rem);
}
#deba2 {
  font-size : clamp(1rem, 4vw, 4rem);
}
#jt {
    position: absolute;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  top: 35%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-family: 'Cinzel', serif;
  white-space: nowrap;
  background-color: transparent;
  
}


