    .w-100 {
    max-width: 100%;
    max-height: 80%
    
}

.d-block {
    display: block;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}
ml-auto, .w-100 {
    margin-left: auto !important;
}

.mr-auto, .w-100 {
    margin-right: auto !important;
}
*, :after, :before {
    box-sizing: border-box;
}



/* --> footer */
.contactinfo {
    background-color: rgb(29, 27, 27);
    position: auto;
    z-index: 1;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
}


