.button {
    font-family: Cambria;
    font-size: 22px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius:  5px;
    background: rgb(124, 94, 18);
    color: black;
    padding: 0.25rem 1rem;
    cursor: pointer;
    transition: transform .3s;
  

  }
  
  .button:hover{
    transform: scale(1.3);
    background-color: rgb(124, 94, 18);
  }
  .button:active {
    background: rgb(124, 94, 18);
    border-color: 2px solid black;
  }
  
  .button:focus {
    outline: none;
  }