.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
    border: 2px solid black;
  }
  
  .modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
  }
  
  .header {
    background: rgb(124, 94, 18);
    padding: 1rem;
  }
  
  .header h2 {
    margin: 0;
    color: black;
    font-family: Cambria;
    font-size: 44px;
    font-weight: bold;
  }
  
  .content {
    padding: 1rem;
    font-family: Cambria;
    font-size: 30px;
    font-weight: bolder;
  }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }

  }

  .errBtn {
    transition: transform .3s;
    background-color: rgb(124, 94, 18);
    border-color: black ;
  }
.errBtn:hover {
  transform: scale(1.1);
    background-color: rgb(124, 94, 18);
}