.ArtGallery {
    text-align: center;
    text-rendering: auto;
    position: relative;
    padding-top: 50px;
    padding-right: 30px;
    font-size: 22px;
    font-weight:normal;   
}

.rights {
    position:relative;
    height: fit-content;
    font-size: 16px;
    font-weight: lighter;
}

.contactinfo {
    padding-bottom: 40px;
}
.copy-right {
    font-size: 20px;
}


#creator {
    transition: transform .3s;
    
}
#creator:hover {
    transform: scale(2.0);
}

