#Gallery{
    padding-top: 100px;
    margin: auto;
    background-image:url(../../../images//gallery-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    

}
#GalleryOils {
    
    align-items: center;
    transition: transform .5s;
    border: 5px solid black;
    border-radius: 3%;
    
    
}
#GalleryOils:hover {
    transform: scale(1.05);
    background-color: black;
    /* -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
     */
}
#GalleryWatercolours {
    transition: transform .5s;
    border: 5px solid black;
    border-radius: 3%;
    -ms-flex: 1; /* IE 10 */
  flex: 1;
    /* -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;  */
}
#GalleryWatercolours:hover {
    transform: scale(1.05);
    /* -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none; */
    
}
#GalleryDrawings{
    transition: transform .5s;
    border: 5px solid black;
    border-radius: 3%;
    -ms-flex: 1; /* IE 10 */
  flex: 1;
    /* -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;  */
}
#GalleryDrawings:hover {
    transform: scale(1.05);
    /* -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none; */
    
}
#GallerySculptures{
    transition: transform .5s;
    border: 5px solid black;
    border-radius: 1%;
    -ms-flex: 1; /* IE 10 */
  flex: 1;
}
#GallerySculptures:hover {
    transform: scale(1.03);
    
}
#GalleryIllustrations{
    transition: transform .5s;
    border: 5px solid black;

        
}
#GalleryIllustrations:hover {
    transform: scale(1.03);
    
    
}

.hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color:black;
    
  }
  .card-img-overlay {
    background-color: rgba(#000, 0.4);
  }

  #container{
      padding-top: 220px;
      padding-bottom: 100px;
      margin: auto;
      padding: auto;
  }


  .card-title1{
      text-align: center;
      padding-bottom: 10px;
  }
  .card-title2{
      text-align: center;
      padding-bottom: 10px;
  }
  .card-title3{
      text-align: center;
      padding-bottom: 10px;
  }