

#collapse {
    background-color: black;
    opacity:0.8;
    width: 100% ;
    overflow: auto;
    float: right;
    
    
}
#topbar {
   padding-bottom: 0;
   padding-top: 0;

}
#nav1{
   display:inline-block; 
   text-align:center;

  
}


#vk{
    align-items:center;
     font-family:Impact;
 font-size: x-large; 
 font-weight:lighter;
 padding-top: auto;
 
 
 }

#home {

    font-family:Impact;
    font-size: x-large;
    font-weight:lighter;

}   

.home:hover {
background-color: rgb(124, 94, 18);
transition-duration: 0.2s;

}

.bio {
    font-family:Impact;
    font-size: x-large;
    font-weight:lighter;
}
.bio:hover{
background-color: rgb(124, 94, 18);
transition-duration: 0.2s;


}

.contact {
    font-family:Impact;
    font-size: x-large;
    font-weight:lighter;
}
.contact:hover{
background-color: rgb(124, 94, 18);
transition-duration: 0.2s;


}
.news{
    font-family:Impact;
    font-size: x-large;
    font-weight:lighter;
}
.news:hover{
    background-color: rgb(124, 94, 18);
    transition-duration: 0.2s;
 

}


.gallery {
    font-family:Impact;
    font-size: x-large;
    font-weight:lighter;
    align-self: right;

}
.gallery:hover {
  background-color: rgb(124, 94, 18);
  transition-duration: 0.2s;
  color:white;

}






