
#cont {
    padding-bottom:  60px;
}


#aboutImg1 {
    transition: transform .3s;
    border: 5px solid black;
    border-radius: 1%;
    align-items: center;
    margin-right: auto;
    margin-left: 40px;
    margin: auto;
    
}
#aboutImg1:hover {
    transform: scale(1.1);
}
#cardImg2 {
    transition: transform .3s;
    border: 5px solid black;
    border-radius: 1%;
    align-items: center;
    margin: auto;
    margin-right: auto;
}
#cardImg2:hover {
    transform: scale(1.1);
}
#cardImg3 {
    transition: transform .3s;
    border: 5px solid black;
    border-radius: 1%;
    margin: auto;
    margin-right: auto;
}
#cardImg3:hover {
    transform: scale(1.1);
}

.title {
    text-align: center;
}


#para1 {
    background-image: url();
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#aboutImg {
    transition: transform .3s;
}
#aboutImg:hover {
    transform: scale(1.03);
}

#NewsAndMediaCont {
    padding-bottom: auto;
    background-image: url(https://i.postimg.cc/tg8D0Gx0/markus-spiske-k0r-Vud-Bo-B4c-unsplash.jpg);
    align-items: auto;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#bgrnd {
    background-image: url(https://i.postimg.cc/FKCqw5LM/geordanna-cordero-5-NE6m-X0-WVf-Q-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    padding-bottom: 20px;
    display: block;
}


#li {
    list-style-type: none;
}




#t{
    width: auto ;
    min-width: auto;
    max-width: 750px;
}
#kont{
    background-color: transparent;
}
#kon11{
    transition: transform .3s;
   
    
}
#kon11:hover {
    transform: scale(1.05);
}
#kon11 {
    border: 3px solid black;
    
}