#news{
    font-size : clamp(3rem, 5vw, 5rem);
}

#news2{
    font-size : clamp(2rem, 3vw, 2.4rem);
}

#a {
    color: black;

}

#featureText  {
    color: black;
    border-bottom: solid 2px black;
    top:30%;

}   

#backgroundNews{
    background-image: url(https://i.postimg.cc/xT9J84Y2/2736278.jpg);
    
    background-size: 80%;
    background-size: cover;
    top: 30%;
}


#nwz {
    padding-top: 45px;
}